@import "vars.scss";

.header_block {
  height: 180px;  
  z-index: 3;   
}

.header_row_block {
  height: 140px;
}

.telefon {
  height: 40px;
}

.mob_logo {  
  width: 20px;
  height: 20px;
}

.tel_mrgn {
  margin: 0 5px;
}

.logo_img {
  height: 100px;
  margin: 20px 0;
}

.header_logo {
  line-height: 100px;
}

.titel {
  margin-bottom: 35px;
}

.address {
  margin-top: 10px;
}

.addres_text {
  margin-top: 10px;
}