@import "vars.scss";

.main_block {
  height: 555px;
}

.block_size {
  height: 400px;
  width: auto;
  background-color: peachpuff;
  padding: 10px;
  margin-top: 10px; 
}

.hero {
  background-color: transparent;
  height: 555px;
}

.logo_rt {
  position: relative;
  top: 120px;
  left: 5px;
  opacity: 0.3;
}
