body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialised;
  -webkit-overflow-scrolling: touch;
}

.bg {
  background-color: antiquewhite;
}

.lines_decore {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.border {
  border: 1px solid lightgray;
}

.btn_decor {
  margin: 20px;
  padding: 0 25px;
  background-color: maroon;
  color: white;
  border: 1px solid maroon;
}

.under {
  text-decoration: underline;
}
.under:hover {
  color: white;
}

.big-btn {
  color: white;
}
.big-btn:hover {
  color: maroon;
}

.btn_serv_decor {
  background-color: maroon;
  color: white;
  border: 1px solid maroon;
  margin: 5px 0;
}

.btn-primary:hover {
  background-color: white;
  color: maroon;
  border: 1px solid maroon;
}

.inline {
  display: inline-block;
  vertical-align: top;
}

.header_text_decor {
  height: 70px;
  line-height: 70px;
}

h1 {
  font-family: embassy;
  color: maroon;
  font-weight: bold;
  font-size: 52px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: inglobal;
  color: maroon;
  font-weight: bold;
}

p {
  font-family: inglobal;
  font-size: 16px;
  color: maroon;
  text-decoration: none;
  margin: 0px;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: lightgrey;
  text-decoration: none;
}

.block {
  display: block;
}

.p_mrgn {
  margin: 5px;
  font-size: 20px;
}

footer {
  margin: 20px 0;
}

@font-face {
  font-family: 'inglobal';
  src: url("../fonts/inglobal.eot");
  src: url("../fonts/inglobal.eot") format("embedded-opentype"), url("../fonts/inglobal.woff2") format("woff2"), url("../fonts/inglobal.woff") format("woff"), url("../fonts/inglobal.ttf") format("truetype"), url("../fonts/inglobal.svg#inglobal") format("svg");
}
@font-face {
  font-family: 'england';
  src: url("../fonts/england.eot");
  src: url("../fonts/england.eot") format("embedded-opentype"), url("../fonts/england.woff2") format("woff2"), url("../fonts/england.woff") format("woff"), url("../fonts/england.ttf") format("truetype"), url("../fonts/england.svg#england") format("svg");
}
@font-face {
  font-family: 'embassy';
  src: url("../fonts/embassy.eot");
  src: url("../fonts/embassy.eot") format("embedded-opentype"), url("../fonts/embassy.woff2") format("woff2"), url("../fonts/embassy.woff") format("woff"), url("../fonts/embassy.ttf") format("truetype"), url("../fonts/embassy.svg#embassy") format("svg");
}
.basic {
  font-family: inglobal;
}

.bold {
  font-family: inglobal;
  font-weight: bold;
}

.img-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: contain;
}

.menu_cont {
  position: fixed;
  top: 0px;
  left: -10px;
  width: 480px;
  height: 100%;
  z-index: 5;
  display: none;
}

.menu_img {
  width: auto;
  height: 50px;
  margin: 5px 0;
}

.menu_item {
  height: 60px;
  width: 440px;
  margin-left: 5px;
  background-color: antiquewhite;
  cursor: pointer;
  -moz-transition: color 0.2s 0.02s ease;
  -o-transition: color 0.2s 0.02s ease;
  -webkit-transition: color 0.2s 0.02s ease;
}
.menu_item:hover {
  background-color: peachpuff;
}

.menu_decoration {
  line-height: 60px;
}

.menu_btn {
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-top: 40px;
}

.menu_btn:hover {
  background-color: white;
}

.menu_btn_text {
  line-height: 60px;
  text-decoration: none;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

.line_close_btn {
  stroke: maroon;
  stroke-linecap: round;
  stroke-width: 3;
}

.menu_list {
  position: relative;
  list-style-type: none;
  left: -10px;
  width: auto;
  height: auto;
}

.menu_footer {
  width: 200px;
  margin-top: 20px;
}

.show {
  display: block;
  -webkit-transition: left 1s;
          transition: left 1s;
}
