@import "vars.scss";

$menu-item-height: 60px;

.menu_cont {
  position: fixed;
  top: 0px;
  left: -10px;
  width: 480px;
  height: 100%;
  z-index: 5;
  display: none;
}

.menu_img {
  width: auto;
  height: 50px;
  margin: 5px 0;
}

.menu_item {
  height: $menu-item-height;
  width: 440px;
  margin-left: 5px;
  background-color: $background-color;
  cursor: pointer;
  -moz-transition: color 0.2s 0.02s ease;
  -o-transition: color 0.2s 0.02s ease;
  -webkit-transition: color 0.2s 0.02s ease;

    &:hover {
      background-color: peachpuff;
    }
}

.menu_decoration {
  line-height: $menu-item-height;
}

.menu_btn {
  width: $menu-item-height;
  height: $menu-item-height;  
  cursor: pointer; 
  margin-top: 40px;
}

.menu_btn:hover {
  background-color: white;
}

.menu_btn_text {  
  line-height: $menu-item-height;  
  text-decoration: none; 
}

.close {
  position: absolute; 
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

.line_close_btn {
  stroke: $basic-color;
  stroke-linecap: round;
  stroke-width: 3;
}

.menu_list {
  position: relative;
  list-style-type: none;
  left: -10px;
  width: auto;
  height: auto;
}

.menu_footer {
  width: 200px;
  margin-top: 20px;
}

.show {
  display: block;
  transition: left 1s;
}