@import "vars.scss";

.serv_block {
    height: 240px;
}

.serv_block_mrgn {
    padding: 5px;
    margin: 5px;
    width: 185px;
    height: 240px;
    background-color: transparent;
}

#btn_mrgn {
    margin: 5px 0 10px 0;
}

.thumb_mrgn {
    margin-bottom: 0;
}

// .serv {
//     display: block;
//     width: auto;
//     height: auto;
//     margin: 5px auto;
// }

// .our-servises {
//     display: block;
//     width: $width-main-block*2;
//     height: 40px;  
//     min-width: 960px;
//     line-height: 40px;
//     background-color: $background-color;    
//     margin: 20px auto;
//     text-align: center;
//     text-transform: uppercase;    
// }

// .serv-wrapper {
//     display: flex;    
//     justify-content: center;
//     margin: 20px auto;
//     width: 90vw;
// }

// .serv-block {
//     width: $width-main-block/3;
//     height: $width-main-block/2;
//     min-width: 120px;
//     min-height: 215px;
//     max-height: 250px;
//     margin: 5px;
//     background-color: $background-color;
// }

// .serv-pic {
//     display: block;
//     width: 100px;
//     height: 100px;
//     border: $border-width solid $border-color;
//     text-align: center;
//     margin: 10px auto;
//     cursor: pointer;
// }

// .serv-text {
//    margin: 0px 5px;
//    text-align: center;
// }

// // .link-text {
// //     font-family: Arial, Helvetica, sans-serif;
// //     font-size: 16px;
// //     color: $border-color;
// // }