$header-heith: 150px;
$border-width: 1px;
$background-color: antiquewhite;
$basic-color: maroon;
$border-color: $basic-color;
$font-basic: inglobal;
$font-logo: embassy;
$main-font-size: 16px;
$width-main-block: 35vw;

body {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialised;
    -webkit-overflow-scrolling: touch;
}

.bg {
    background-color: $background-color;
}

.lines_decore {
  border-top: $border-width solid lightgray;
  border-bottom: $border-width solid lightgray;
}

.border {
    border: $border-width solid lightgray;
}

.btn_decor {
    margin: 20px;
    padding: 0 25px;
    background-color: $basic-color;
    color: white;
    border: $border-width solid $basic-color;

    // &:hover {
    //     background-color: white;
    //     color: $basic-color;
    //     border: $border-width solid $basic-color;
    // }
}

.under {
    text-decoration: underline;

    &:hover {
        color: white;
    }
}

.big-btn {
    color: white;

    &:hover {
        color: $basic-color;
    }
}

.btn_serv_decor {
    background-color: $basic-color;
    color: white;
    border: $border-width solid $basic-color;
    margin: 5px 0;
}

.btn-primary:hover {
    background-color: white;
    color: $basic-color; 
    border: $border-width solid $basic-color;
}


.inline {
    display: inline-block;
    vertical-align: top;
}

.header_text_decor {
    height: 70px;
    line-height: 70px;
}

h1 {
    font-family: $font-logo;
    color: $basic-color;
    font-weight: bold;
    font-size: 52px;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: $font-basic;
    color: $basic-color;
    font-weight: bold;
}

p {
    font-family: $font-basic;
    font-size: $main-font-size;
    color: $basic-color;
    text-decoration: none;
    margin: 0px;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    color: lightgrey;
    text-decoration: none;
}

.block {
    display: block;
}

.p_mrgn {
    margin: 5px;
    font-size: 20px;
}

footer {
    margin: 20px 0;
}

@font-face {
    font-family: 'inglobal';
    src: url('../fonts/inglobal.eot');
    src: url('../fonts/inglobal.eot') format('embedded-opentype'),
         url('../fonts/inglobal.woff2') format('woff2'),
         url('../fonts/inglobal.woff') format('woff'),
         url('../fonts/inglobal.ttf') format('truetype'),
         url('../fonts/inglobal.svg#inglobal') format('svg');
}

@font-face {
    font-family: 'england';
    src: url('../fonts/england.eot');
    src: url('../fonts/england.eot') format('embedded-opentype'),
         url('../fonts/england.woff2') format('woff2'),
         url('../fonts/england.woff') format('woff'),
         url('../fonts/england.ttf') format('truetype'),
         url('../fonts/england.svg#england') format('svg');
}

@font-face {
    font-family: 'embassy';
    src: url('../fonts/embassy.eot');
    src: url('../fonts/embassy.eot') format('embedded-opentype'),
         url('../fonts/embassy.woff2') format('woff2'),
         url('../fonts/embassy.woff') format('woff'),
         url('../fonts/embassy.ttf') format('truetype'),
         url('../fonts/embassy.svg#embassy') format('svg');
}

.basic {
  font-family: $font-basic;
}

.bold {
  font-family: $font-basic;  
  font-weight: bold;
}

.img-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: contain;   
}